
#menuList{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menuItem{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px;
    border-style: solid;
    border-radius: 5px;
    min-width: 30vh;
    max-width: 30vh;
    margin: 30px;
    padding: 5px;
}

.menuItem:hover{
    background-color: grey;
}

.menuItem img{
    height: 60px;
}